* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

nav {
  background-color: rgb(18, 18, 18);
  padding: 20px 0;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__button {
  display: flex;
  align-items: center;
}

.header__button-menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
  transition: 1s;
}

.header__button-menu-item-link {
  color: white;
  font-size: 20px;
}

.hamburger {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.li {
  margin-top: 5px;
  height: 10px;
  width: 50px;
  border-radius: 20%/90%;
  background-color: white;
  transition: 1s;
  position: relative;
}

.hamburger-1 .li:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}

.hamburger-1 .li:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

.hamburger-1 .li:nth-child(2) {
  transform: rotate(45deg);
}

.header__button-menu.acc {
  transform: translateX(100%);
}

@media screen and (max-width: 768px) {
  .header__button-menu {
    transform: translateX(-100%);
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 88px;
    background-color: rgb(18, 18, 18);
    width: 100%;
    row-gap: 30px;
    align-items: start;
    padding: 10px;
    transition: 1s;
  }
}

